footer a{
    text-decoration: none;
}
footer a:hover {
color:bisque;
  }
 
#ipic{
  width: 900px;
  height: 470px;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .team-members {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
.carousel-item {
  max-height: 400px;
  text-align: center;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px;
}
.carousel-caption h2 {
  font-size: 2rem;
  color: #fff;
}
.carousel-caption p {
  font-size: 1rem;
  color: #fff;
}